/* OWN CSS */
body {
  background-color: #e4b95c;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.navBar {
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  height: 4em;
  width: 100%;
  background-color: #183940;

  .navBar__logo {
    width: 2%;
    height: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    margin: 0.8em 0 0 1em;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: #D98E04;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }

    img {
      transition: transform 2s;

      &:hover {
        transform: rotate(720deg);
      }
    }

  }

  .navBar__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 53.5%;
    margin-top: -0.5em;
    margin-right: 0;
    color: #1f2023;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;

    img {
      top: 0;
      width: 5em;
      margin: 0 0 0 0;
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }

    a {
      color: #1f2023;
      background-color: #D98E04;
      border: solid 1px #fff;
      border-radius: 20%;
      padding: 0.2em;
      margin: 0 0.5em 0 0.5em;
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 20%;
  background-color: #D98E04;
  transition: transform 0.3s ease-in-out;
}

.nav.inactive {
  transform: translateX(-100%);
}

.nav.active {
  transform: translateX(0);
}

.nav__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: black;
  cursor: pointer;
  margin-top: -1em;

  li {
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  a {
    color: #1f2023;
  }
}
.nav__close {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5em;
  width: 98%;
  border-right: 0.5em;
  background-color: #D98E04;
  color: #fff;
  cursor: pointer;

  img {
    transition: transform 2s;
    /* Cambia la duración de la transición a 1 segundo */

    &:hover {
      transform: rotate(720deg);
      /* Hace que la "X" gire tres veces (360deg * 3) */
    }
  }
}

.ff__landing {
  position: relative;
  z-index: 5;
  display: flex;
  max-width: 100%;
  width: 100%;
  /* background-color: #F2E6C2; */

  .ff__tittle {
    font-family: 'Coming Soon', cursive;
    font-weight: 800;
    font-size: 4em;
    width: 70%;
    margin-left: 1em;
    height: 9.5em;
    margin-top: -1em;

    h1:nth-child(1) {
      margin-bottom: -0.5em;
      background: linear-gradient(to left, rgb(47, 46, 40), gold);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    h1:nth-child(2) {
      background: linear-gradient(to right, rgb(47, 46, 40), gold);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .ff__image {
    margin-top: 6em;
    margin-right: 7em;

    img {
      width: 120%;
    }
  }
}
.ff__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #BF7D2C;
  padding-top: 1em;
  padding-bottom: 1.5em;
  
  .ff__info__tittle {
    width: 100%;
    text-align: center;
    h1 {
      margin-top: 0.2em;
    }
  }

  .ff__info__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }

  .ff__info__image {
    width: 50%; 
    max-width: 500px;

    img {
      width: 100%;
      height: auto; 
    }
  }

  .ff__info__text {
    width: 50%;
    font-size: 1.5em;
    color: #0D0D0D;
    text-align: justify;
    font-weight: bold;
  }
}



.inactive {
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}